<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.uturtle.alfnaversearch</string>
	<key>connections</key>
	<dict>
		<key>5D8CC2B4-1E85-48E8-9063-FD9895DE9E3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F4FA2E1-C07E-43F6-B256-EEF240220310</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7381EFB0-D4A3-4994-A6B1-99D0B508233D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC0C0607-B94D-4570-AC63-F66900D8201D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ED7ADA66-8BF2-4877-A51A-71B5F004E305</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC091CE6-E547-49F4-B4DF-3F4FF9FFD098</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jinuk Baek</string>
	<key>description</key>
	<string>Naver Search Kit</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Naver Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://search.naver.com/search.naver?sm=tab_hty&amp;where=nexearch&amp;query={query}&amp;x=0&amp;y=0</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BC091CE6-E547-49F4-B4DF-3F4FF9FFD098</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>na</string>
				<key>runningsubtext</key>
				<string>Running</string>
				<key>script</key>
				<string>python naver_search.pyc "{query}"</string>
				<key>title</key>
				<string>Search Naver for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ED7ADA66-8BF2-4877-A51A-71B5F004E305</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>naj</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python jpdic_naver_search.pyc "{query}"</string>
				<key>title</key>
				<string>Search Naver Jpdic for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5D8CC2B4-1E85-48E8-9063-FD9895DE9E3A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://jpdic.naver.com/search.nhn?range=all&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3F4FA2E1-C07E-43F6-B256-EEF240220310</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://endic.naver.com/search.nhn?ie=utf8&amp;query={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DC0C0607-B94D-4570-AC63-F66900D8201D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>nae</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python endic_naver_search.pyc "{query}"</string>
				<key>title</key>
				<string>Search Naver Endic for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7381EFB0-D4A3-4994-A6B1-99D0B508233D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3F4FA2E1-C07E-43F6-B256-EEF240220310</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5D8CC2B4-1E85-48E8-9063-FD9895DE9E3A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7381EFB0-D4A3-4994-A6B1-99D0B508233D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BC091CE6-E547-49F4-B4DF-3F4FF9FFD098</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DC0C0607-B94D-4570-AC63-F66900D8201D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>ED7ADA66-8BF2-4877-A51A-71B5F004E305</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
